 {% extends 'base.html' %} 
{% load static %}
 {% block content%}
    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url({% static 'images/bg_3.jpg'%}); width: 100%;"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 ftco-animate">
    				<h2 class="mb-4">Welcome to CuteLooks Studios</h2>
    				<p>We offer the best makeup and makeover services to our customers.</p>
    				<p>We offer makeup and makeover for the following:</p>
					<ul>
						<li>Graduations</li>
						<li>Matriculations</li>
						<li>Photoshoots</li>
						<li>Any other occation</li>
					</ul>
					<p>We take into cosideration your confidence in public,
						your beauty and most importantly your time.
					</p>
					<p>We deliver the best services to the satisfaction of our customers</p>
    			</div>
    		</div>
    	</div>
    </section>

   

   {% endblock %}