 {% extends 'base.html' %} 
{% load static %}
 {% block content%}

    <section class="ftco-section contact-section">
       <div class = "col-sm-12 text-center">
        <p  style = "font-size: 21px;color:#f741de;font-weight:600;text-transform:capitalize">Your  email has been sent successfully. You will be contacted  shortly</p>
        <a href={% url "siteAppUrls:bookingPage" %} style = "font-size: 18px;color:#f741de;font-weight:400;text-transform:capitalize;">Click to go back</a>

       </div>
       
      </section>

{% endblock %}