{% extends 'base.html' %} {% load static %} {% block content%}
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex mb-3">
            <span class="flaticon-facial-treatment"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Soft glam</h3>
            <p>
              Look pretty for all your casual occations with a simple and
              beatiful makeup.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex mb-3">
            <span class="flaticon-cosmetics"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Photoshoot Makeup</h3>
            <p>
              Have an exquisite look for all your most memorable pictures and
              photoshoots.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex mb-3">
            <span class="flaticon-curl"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Bridal Makeup</h3>
            <p>
              Make your wedding day even more special with a lovely look to
              match the occation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Meet the Makeup Artist</h2>
        <p style="color: #ff00d4">Grace Asamoah Boakye</p>
        <p>A determined young enterprenuer and the CEO of CuteLooks Studios</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="
              background-image: url({%static'images/grace34.jpeg'%});
              width: inherit;
            "
          ></div>
          <div class="info text-center">
            <h3><a href="teacher-single.html">Grace</a></h3>
            <span class="position">Makeup Artist</span>
            <div class="text">
              <p>
                Bronzer is a booster. Choose a shade that’s one shade darker
                than your skin tone. It adds warmth and richness.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="
              background-image: url({%static'images/grace35.jpeg'%});
              width: inherit;
            "
          ></div>
          <div class="info text-center">
            <h3><a href="teacher-single.html">Asamoah</a></h3>
            <span class="position">Makeup Artist</span>
            <div class="text">
              <p>
                Treat your makeup like jewelry for the face. Play with colors,
                shapes, structure – it can transform you.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div
            class="img mb-4"
            style="
              background-image: url({%static'images/grace36.jpeg'%});
              width: inherit;
            "
          ></div>
          <div class="info text-center">
            <h3><a href="teacher-single.html">Boakye</a></h3>
            <span class="position">Makeup Artist</span>
            <div class="text">
              <p>
                I love natural beauty, and I think it’s your best look, but I
                think makeup as an artist is so transformative.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Our Work</h2>
        <p>
          Take a look at some of the amazing makeups done at cute looks studios
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <a href="#" class="work-entry">
          <img
            src="{% static 'images/grace37.jpeg'%}"
            class="img-fluid"
            alt="pic"
          />
          <div class="info d-flex align-items-center">
            <div>
              <h3>Cute Looks Studios</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="#" class="work-entry">
          <img
            src="{% static 'images/grace38.jpeg'%}"
            class="img-fluid"
            alt="pic"
          />
          <div class="info d-flex align-items-center">
            <div>
              <h3>Cute Looks Studios</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="#" class="work-entry">
          <img
            src="{% static 'images/grace39.jpeg'%}"
            class="img-fluid"
            alt="pic"
          />
          <div class="info d-flex align-items-center">
            <div>
              <h3>Cute Looks Studios</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Makeup Pricing</h2>
        <p>
          Get amazing makeups at affodable prices. Simply book a session for
          your preferred makeup.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 active text-center">
          <div>
            <h3 class="mb-4">Soft glam</h3>
          </div>
          <ul>
            <li>
              Soft glam without lashes
              <p><span class="price">Ghc 100.00</span></p>
            </li>
            <li>
              Soft glam with lashes
              <p><span class="price">Ghc 120.00</span></p>
            </li>
            <li>
              Full glam
              <p><span class="price">Ghc 150.00</span></p>
            </li>
          </ul>
          <p class="button text-center">
            <a
              href="{% url 'siteAppUrls:servicesPage' %}"
              class="btn btn-primary btn-outline-primary px-4 py-3"
              >Book now</a
            >
          </p>
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Photoshoot</h3>
          </div>
          <ul>
            <li>
              Without lashes
              <p><span class="price">Ghc 100.00</span></p>
            </li>
            <li>
              With lashes
              <p><span class="price">Ghc 150.00</span></p>
            </li>
            <li>NB: Price could change based on preferences</li>
          </ul>
          <p class="button text-center">
            <a
              href="{% url 'siteAppUrls:servicesPage' %}"
              class="btn btn-primary btn-outline-primary px-4 py-3"
              >Book now</a
            >
          </p>
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Editorial</h3>
          </div>
          <ul>
            <li>
              Without lashes
              <p><span class="price">Ghc 120.00</span></p>
            </li>
            <li>
              With lashes
              <p><span class="price">Ghc 150.00</span></p>
            </li>
            <li>NB: Price could change based on preferences</li>
          </ul>
          <p class="button text-center">
            <a
              href="{% url 'siteAppUrls:servicesPage' %}"
              class="btn btn-primary btn-outline-primary px-4 py-3"
              >Book now</a
            >
          </p>
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Bridal</h3>
          </div>
          <ul>
            <li>
              Bride only
              <p><span class="price">Ghc 600.00</span></p>
            </li>
            <li>
              Bride and bridesmaid
              <p><span class="price">Ghc 800.00</span></p>
            </li>
            <li>NB: Price could change based on the number of bridesmaids</li>
          </ul>
          <p class="button text-center">
            <a
              href="{% url 'siteAppUrls:servicesPage' %}"
              class="btn btn-primary btn-outline-primary px-4 py-3"
              >Book now</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-discount img"
  style="
    background-image: url({%static'images/close-up-collection-make-up-beauty-products_23-2148620012.avif'%});
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div
        class="col-md-5 rules"
        style="margin: 2%; background: rgba(249, 91, 220, 0.9)"
      >
        <p>Rules:</p>
        <ul>
          <li>Bookings are by appointment only</li>
          <li>At least 50% payment must be made after booking</li>
          <li>Payment made is not refundable</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-appointment">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-md-2"></div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="appointment-info text-center p-5">
          <div class="mb-4">
            <h3 class="mb-3">Address</h3>
            <p>University of Ghana,Legon</p>
          </div>
          <div class="mb-4">
            <h3 class="mb-3">Phone</h3>
            <p class="day"><strong>+233 24 397 1445</strong></p>
          </div>
          <div>
            <h3 class="mb-3">Working Hours</h3>
            <p class="day"><strong>By Appointment</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 appointment pl-md-5 ftco-animate">
        <h3 class="mb-3">Write To Us About Your Experience With Our Website</h3>
        <form action="" class="appointment-form" method="post">
          {% csrf_token %}
          <div class="row form-group d-flex">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                name="firstName"
                placeholder="First Name"
                required
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                name="lastName"
                placeholder="Last Name"
                required
              />
            </div>
          </div>
          <div class="row form-group d-flex">
            <div class="col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="col-md-6">
              <input
                type="whatsapp"
                class="form-control"
                name="whatsapp"
                placeholder="Whatsapp number"
                required
              />
            </div>
            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                name="subject"
                placeholder="Subject"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <textarea
              id=""
              cols="30"
              rows="3"
              name="message"
              class="form-control"
              placeholder="Message"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Send"
              class="btn btn-white btn-outline-white py-3 px-4"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
