 {% extends 'base.html' %} 
{% load static %}
 {% block content%}
		<section class="ftco-section">
    	<div class="container">
    		<div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex mb-3"><span class="flaticon-facial-treatment"></span></div>
              <div class="media-body">
                <h3 class="heading">Regular Makeup</h3>
                <p>Look pretty for all your casual occations with a simple and beatiful makeup.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex mb-3"><span class="flaticon-cosmetics"></span></div>
              <div class="media-body">
                <h3 class="heading">Photoshoot Makeup</h3>
                <p>Have an exquisite look for all your most memorable pictures and photoshoots.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex mb-3"><span class="flaticon-curl"></span></div>
              <div class="media-body">
                <h3 class="heading">Bridal Makeup</h3>
                <p>Make your wedding day even more special with a lovely look to match the occation.</p>
              </div>
            </div>    
          </div>
        </div>
    	</div>
    </section>

<section class = "myservices">
  <!-- start servicehd -->
  <div class="col-sm-12 servicehd">
    <h2>book a service provided by CuteLooks studios</h2>
  </div>
  <!-- end servicehd -->
  <!-- start servicebox -->
<div class="col-sm-12 servicebox">
<h4>regular makeup</h4>

<!-- start serviceboxsubcontainer -->
<div class="col-sm-12 serviceboxsubcontainer">
<!-- start row -->
  <div class="row">
<!-- start serviceboxsub -->
<div class="col-sm-4 ">
  <div class="col-sm-10 serviceboxsub">
<h6>Simple look without lashes</h6>
<h4>Ghc 65.00</h4>
      <a href="tel:+233243971445"><i class="fa fa-phone" aria-hidden="true"></i> call now </a>
<a href="https://api.whatsapp.com/send?phone=+233243971445"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp  </a>
<a href="{% url 'siteAppUrls:bookingPage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> email now </a>

  </div>
 
</div>
<!-- end serviceboxsub -->
<!-- start serviceboxsub -->
<div class="col-sm-4 ">
  <div class="col-sm-10 serviceboxsub">
    <h6>Simple look with lashes</h6>
    <h4>Ghc 85.00</h4>
      <a href="tel:+233243971445"><i class="fa fa-phone" aria-hidden="true"></i> call now </a>
<a href="https://api.whatsapp.com/send?phone=+233243971445"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp  </a>
<a href="{% url 'siteAppUrls:bookingPage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> email now </a>
  </div>

</div>
<!-- end serviceboxsub -->
<!-- start serviceboxsub -->
<div class="col-sm-4 ">
  <div class="col-sm-10 serviceboxsub">
    <h6>Full glam</h6>
    <h4>Ghc 100.00</h4>
      <a href="tel:+233243971445"><i class="fa fa-phone" aria-hidden="true"></i> call now </a>
<a href="https://api.whatsapp.com/send?phone=+233243971445"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp  </a>
<a href="{% url 'siteAppUrls:bookingPage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> email now </a>
  </div>

</div>
<!-- end serviceboxsub -->

  </div>
  <!-- end row -->
</div>
<!-- end serviceboxsubcontainer -->

</div>
<!-- end servicebox -->
<!-- start servicebox -->
<div class="col-sm-12 servicebox">
  <h4>PHOTOSHOOT</h4>

  <!-- start serviceboxsubcontainer -->
  <div class="col-sm-12 serviceboxsubcontainer">
    <!-- start row -->
    <div class="row">
      <!-- start serviceboxsub -->
      <div class="col-sm-6 ">
        <div class="col-sm-10 serviceboxsub">
          <h6>Without lashes</h6>
          <h4>Ghc 85.00</h4>
      <a href="tel:+233243971445"><i class="fa fa-phone" aria-hidden="true"></i> call now </a>
<a href="https://api.whatsapp.com/send?phone=+233243971445"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatspp  </a>
<a href="{% url 'siteAppUrls:bookingPage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> email now </a>
        </div>

      </div>
      <!-- end serviceboxsub -->
      <!-- start serviceboxsub -->
      <div class="col-sm-6 ">
        <div class="col-sm-10 serviceboxsub">
          <h6>With lashes</h6>
          <h4>Ghc 100.00</h4>
      <a href="tel:+233243971445"><i class="fa fa-phone" aria-hidden="true"></i> call now </a>
<a href="https://api.whatsapp.com/send?phone=+233243971445"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp  </a>
<a href="{% url 'siteAppUrls:bookingPage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> email now </a>
        </div>

      </div>
      <!-- end serviceboxsub -->
     

    </div>
    <!-- end row -->
  </div>
  <!-- end serviceboxsubcontainer -->

</div>
<!-- end servicebox -->
<!-- start servicebox -->
<div class="col-sm-12 servicebox">
  <h4>EDITORIAL</h4>

  <!-- start serviceboxsubcontainer -->
  <div class="col-sm-12 serviceboxsubcontainer">
    <!-- start row -->
    <div class="row">
      <!-- start serviceboxsub -->
      <div class="col-sm-6 ">
        <div class="col-sm-10 serviceboxsub">
          <h6>Without lashes</h6>
          <h4>Ghc 80.00</h4>
      <a href="tel:+233243971445"><i class="fa fa-phone" aria-hidden="true"></i> call now </a>
<a href="https://api.whatsapp.com/send?phone=+233243971445"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp  </a>
<a href="{% url 'siteAppUrls:bookingPage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> email now </a>
        </div>

      </div>
      <!-- end serviceboxsub -->
      <!-- start serviceboxsub -->
      <div class="col-sm-6 ">
        <div class="col-sm-10 serviceboxsub">
          <h6>With lashes</h6>
          <h4>Ghc 100.00</h4>
      <a href="tel:+233243971445"><i class="fa fa-phone" aria-hidden="true"></i> call now </a>
<a href="https://api.whatsapp.com/send?phone=+233243971445"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp  </a>
<a href="{% url 'siteAppUrls:bookingPage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> email now </a>
        </div>

      </div>
      <!-- end serviceboxsub -->


    </div>
    <!-- end row -->
  </div>
  <!-- end serviceboxsubcontainer -->

</div>
<!-- end servicebox -->
<!-- start servicebox -->
<div class="col-sm-12 servicebox">
  <h4>BRIDAL</h4>

  <!-- start serviceboxsubcontainer -->
  <div class="col-sm-12 serviceboxsubcontainer">
    <!-- start row -->
    <div class="row">
      <!-- start serviceboxsub -->
      <div class="col-sm-6 ">
        <div class="col-sm-10 serviceboxsub">
          <h6>Bride only</h6>
          <h4>Ghc 500.00</h4>
      <a href="tel:+233243971445"><i class="fa fa-phone" aria-hidden="true"></i> call now </a>
<a href="https://api.whatsapp.com/send?phone=+233243971445"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp  </a>
<a href="{% url 'siteAppUrls:bookingPage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> email now </a>
        </div>

      </div>
      <!-- end serviceboxsub -->
      <!-- start serviceboxsub -->
      <div class="col-sm-6 ">
        <div class="col-sm-10 serviceboxsub">
          <h6>Bride and bridesmaid</h6>
          <h4>Ghc 600.00</h4>
      <a href="tel:+233243971445"><i class="fa fa-phone" aria-hidden="true"></i> call now </a>
<a href="https://api.whatsapp.com/send?phone=+233243971445"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp  </a>
<a href="{% url 'siteAppUrls:bookingPage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> email now </a>
        </div>

      </div>
      <!-- end serviceboxsub -->


    </div>
    <!-- end row -->
  </div>
  <!-- end serviceboxsubcontainer -->

</div>
<!-- end servicebox -->
</section>

   

		
{% endblock %}