 {% extends 'base.html' %} 
{% load static %}
 {% block content%}
		<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h4 class="mb-4">Works Done By CuteLooks Studios</h4>
            
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/grace37.jpeg'%}" class="img-fluid" alt="pic">
        			<div class="info d-flex align-items-center">
        				<div>
        					
		        			<h3> CuteLooks Studios</h3>
	        			</div>
        			</div>
        		</a>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/grace38.jpeg'%}" class="img-fluid" alt="pic">
        			<div class="info d-flex align-items-center">
        				<div>
        					
		        			<h3> CuteLooks Studios</h3>
	        			</div>
        			</div>
        		</a>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/grace39.jpeg'%}" class="img-fluid" alt="pic">
        			<div class="info d-flex align-items-center">
        				<div>
        					
		        			<h3> CuteLooks Studios</h3>
	        			</div>
        			</div>
        		</a>
        	</div>
			{% comment %} 222222 {% endcomment %}
        	 <div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/grace40.jpeg'%}" class="img-fluid" alt="pic">
        			<div class="info d-flex align-items-center">
        				<div>
        					
		        			<h3> CuteLooks Studios</h3>
	        			</div>
        			</div>
        		</a>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/grace41.jpeg'%}" class="img-fluid" alt="pic">
        			<div class="info d-flex align-items-center">
        				<div>
        					
		        			<h3> CuteLooks Studios</h3>
	        			</div>
        			</div>
        		</a>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/grace42.jpeg'%}" class="img-fluid" alt="pic">
        			<div class="info d-flex align-items-center">
        				<div>
        					
		        			<h3> CuteLooks Studios</h3>
	        			</div>
        			</div>
        		</a>
        	</div> 
			{% comment %} 2222222 {% endcomment %}
        	 <div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/grace44.jpeg'%}" class="img-fluid" alt="pic">
        			<div class="info d-flex align-items-center">
        				<div>
        					
		        			<h3> CuteLooks Studios</h3>
	        			</div>
        			</div>
        		</a>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/grace45.jpeg'%}" class="img-fluid" alt="pic">
        			<div class="info d-flex align-items-center">
        				<div>
        					
		        			<h3> CuteLooks Studios</h3>
	        			</div>
        			</div>
        		</a>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/grace46.jpeg'%}" class="img-fluid" alt="pic">
        			<div class="info d-flex align-items-center">
        				<div>
        					
		        			<h3> CuteLooks Studios</h3>
	        			</div>
        			</div>
        		</a>
        	</div>
        </div> 
        
    	</div>
    </section>
{% endblock %}