{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/myStyle.css'%}">
    <title>Cute Looks</title>
        <link rel="icon" href="{% static 'images/cute2.png'%}">

</head>
<body>
<section class = "body">
<div class="box">
   <div class="form">
    <h1>Cute Looks</h1>
    <h2>Login </h2>
    <!--start inputbox-->
    <div class="inputBox">
<input type="text" required="required">
<span>Username</span>
<i></i>
    </div>
    <!-- end inputbox-->
    <!--start inputbox-->
    <div class="inputBox">
        <input type="password" required="required">
        <span>Password</span>
        <i></i>
    </div>
    <!-- end inputbox-->
   
    
    <!--start link-->
    <div class="links">
<a href="{% url 'siteAppUrls:forgetPage' %}">Forgot Password</a>
<a href="{% url 'siteAppUrls:signupPage' %}">SignUp</a>
    </div>
    <!-- end link-->
<input type="submit" value="Login">
<!--start google-->
<div class="google">
    <img src="{% static 'images/chrome_60px.png' %}" alt="google_logo">
    <a href="">continue with google</a>
</div>
<!-- end google-->
   </div> 
</div>

</section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>