.login{
    color: #f303b7 !important;
    
}


.body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background:white;

}

.box{
    position: relative;
    width:380px;
    height: 500px;
    background: white;
    border-radius:8px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
}

.box::before{
content: " ";
position: absolute;
top:-50%;
left:-50%;
width:380px;
    height: 500px;
    background: linear-gradient(0deg,transparent,
    #FA5BDD,#FA5BDD);
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
}


.box::after{
content: " ";
position: absolute;
top:-50%;
left:-50%;
width:380px;
    height: 500px;
    
    background: linear-gradient(0deg,transparent,
    #FA5BDD,#FA5BDD);
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
    animation-delay:-3s;
}




.box2{
    position: relative;
    width:380px;
    height: 600px;
    background: white;
    border-radius:8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    overflow: hidden;
}

.box2::before{
content: " ";
position: absolute;
top:-50%;
left:-50%;
width:380px;
    height: 600px;
    background: linear-gradient(0deg,transparent,
    #FA5BDD,#FA5BDD);
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
}


.box2::after{
content: " ";
position: absolute;
top:-50%;
left:-50%;
width:380px;
    height: 600px;
    background: linear-gradient(0deg,transparent,
    #FA5BDD,#FA5BDD);
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
    animation-delay:-3s;
}









@keyframes animate {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}





.form{
    position:absolute;
    inset:2px;
    border-radius: 8px;
    background: white;
    z-index: 10;
    padding: 50px 40px;
    display:flex;
    flex-direction: column;
}

.form h1{
color:#FA5BDD;
font-weight: 700;
text-align: center;
margin:5px;
}

.form h2{
color:#FA5BDD;
font-weight: 500;
font-size: 16px;
text-align: center;
letter-spacing:0.1em;
}




.inputBox{
    position:relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background:transparent;
    border:none;
    outline:none;
    color:#23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span{
    position:absolute;
    top:10%;
    left:0;
    padding: 20px 0px 10px;
    font-size:1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing:0.05em;
    transition:0.5s;

}


.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
color:#FA5BDD;
transform: translateX(0px) translateY(-34px);
font-size: 0.75em;
}


.inputBox i{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 2px;
    background:#FA5BDD;
    border-radius: 4px;
    transition:0.5s;
    pointer-events: none;
    z-index:9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
height: 44px;
} 

.links{
    display:flex;
    justify-content:space-between;

}



.links a {
    margin: 10px 0;
    font-size : 0.75em;
    color:#8f8f8f;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
    color:#FA5BDD;
}


input[type="submit"]{
    border:none;
    outline:none;
    background: #FA5BDD;
        color:white;

    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:active{
opacity: 0.8;
}



.google{
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
     border-radius:5px;
    padding: 3%;
    background:#FA5BDD;
    display: flex;
    align-items:center;
    justify-content: center;
    
}


.google a{
    text-decoration: none;
   font-size:18px;
    color:white;    

}

.google img{
    width: 10%;
    margin-right:5%;
}

.google:active{
    opacity: 0.8;
}


/*  services.html */
.myservices{
    /* background:red; */
    padding: 2%;
}
.servicehd{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 5%;
}
.servicehd h2{
text-transform:uppercase;
color:#FA5BDD;
}

.servicebox h4{
text-transform:capitalize;
color:#FA5BDD;
}

.serviceboxsubcontainer{
    margin: 10px 0px 100px 0px;
}

.serviceboxsub{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    margin:12px 0px;

}

.serviceboxsub a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 44px;
    text-align: center;
    background: #FA5BDD;
    border:1px solid #FA5BDD;
    color:white;
    border-radius: 21px;
    font-weight: 600;
    margin: 2%;
    width:inherit;
    text-align: center;
/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.serviceboxsub i{
/* background:red; */
}
.serviceboxsub a:hover{
    color: #FA5BDD;
    background:white;
}








/* services.html */





